# Template: /etc/nixos/secrets.nix.template
# Configuration: Rename this file to 'secrets.nix' and populate the fields below with valid credentials.
# Warning: Ensure 'secrets.nix' is added to your .gitignore to prevent sensitive data exposure.
{
  apiPassword = "YOUR_PASSWORD_HERE";
  gitHubToken = "YOUR_GITHUB_TOKEN_HERE";
}

